table,td,th{
    border: solid black;
    border-collapse: collapse  ;
}
table{
    text-align: left;
}
td,th{
    padding: 23px;
}
td,th{
    text-align: center;
}
body{
    background-color: blue;
}
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 0.9em;
}




















/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3267d6;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 0.9em;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3267d6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #244a9e;
}

p {
    margin-top: 15px;
    font-size: 0.9em;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px
} */
 